*~
*.aux
*.bak
*.class
*.hi
*.log
*.o
\#*\#
a.out

# Don't commit HTML since it's all generated
*.html

# Ignore testsuite archives
*.tar.gz

# Ignore IPL book sources
CVS

# Temporarily ignored directories
/doc/
/exercises/
/lectures/
/plt-book/

# Individual ignores

/2007-index.txt
/2012-index.txt
/2014-index.txt
/exams.tgz
/laborations/old-lab3/
/laborations/old-lab4/
/laborations/old-mini/
/laborations/lab1/testscript/lab1-test-dir/
/laborations/lab1/testsuite/lab1-test-dir/
/laborations/lab1/testscript/progs-test-lab1
/laborations/lab1/testsuite/progs-test-lab1
/laborations/lab2/java/CPP/
/laborations/lab2/java1.5/CPP/
/laborations/lab2/haskell/CPP/
/laborations/lab2/haskell/lab2
/laborations/lab2/testsuite/good/*.j
/laborations/lab2/testsuite/progs-test-lab2
/laborations/lab3/testsuite/*.j
/laborations/lab3/testsuite/progs-test-lab3-jvm-verify
/laborations/lab3/haskell/CPP/
/laborations/lab3/java/CPP/
/laborations/lab4/testsuite.tgz
/laborations/lab3/haskell/lab3
/laborations/lab2/java/lab2
